<html>

<body>
     <br>
     <br>
    <h4>***** This is Demo For WebPage in HTML *****<h4>
    <br>
    <hr>
    <hr>
    <br>
    <br>
    
   <p>Get your greeting <a href="/sayhello">Click here</a></p>
   <br>
   <br>
   <br>
   <hr>
   <img src="/Images/download1.jpg" width=200 hight=200>
   <hr>
   <br>
   <br>
   <br>
   <br>
    
  
   <hr>
   <a href="http://www.google.com">Click Here</a>
   <hr>
   <br>
   <br>
   <br>
   <a href="http://www.google.com"><img src= "/Images/images1.jpg" alt="image Not Ppresent" width=100 higth=100></a>
   <br>
   
   <br>
   <br>
   <br>
   <br>
   
   <p><b>Login Here</b></p>
   <hr>
   <from method ="get" action="/sayhello">
   <label for="name"><b>Name</b></label>
   <input type="text" name="name" label="Name">
   <br>
   <label for="password"><b>Password</b></label>
   <input type ="password" name="pass" label="Pass">
   <br>
   <input type="submit" value="OK">
   </from>
   <br>
   <hr>
   <br>
   <br>
   
   
   <br>
   <p><b>Student Table</b></p>
   <hr>
   <table border=1>
        <th>Id</th>
        <th>Name</th>
        <tr>
            <td>01</td>
            <td>Rutuja</td>
        </tr>
        <tr>
        <td>02</td>
        <td>Gitanjali</td>
        </tr>
        
        
   </table>    
   <hr>
   
   
   
   
</body>
</html>